<div id="payment-link" style="display: none;">
  <div class="row bgCover noBorder borderSolid border3px  radius10  P0-top P0-bottom P0H noTopMargin" style="display: flex; margin-bottom: 0px; outline: none; background-color: rgb(255, 255, 255); padding: 35px 25px 25px; width: 60%; max-width: 100%; margin: auto; margin-right: auto;" col-array="6,6">
      <stripe-buy-button style="margin-left: auto; margin-right: auto;"
        buy-button-id="buy_btn_1Q2DNJAglXTwgHBZ7CFLE40v"
        publishable-key="pk_live_51JThxnAglXTwgHBZcQz8McrzAEPtXqZXmIUQO41s7n4DW0UcADzAKIdcdeH8uI4EUuxqjZZDQeVAQeoF3qMkx5X9001abAgamB"
      >
      </stripe-buy-button>
  </div>
</div>